<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>Editar peliculas</h1>
    </div>
    <form action="/" method="POST">
        <div>
            <input id="title" value="<%= movie.title %>" type="text">
        </div>

        <div>
            <input id="rating" value="<%= movie.rating %>" type="number">
        </div>
        <div>
            <input id="awards" value="<%= movie.awards %>" type="text">
        </div>
        <div>
            <input id="length" value="<%= movie.length ? movie.length : 0 %>" type="text">
        </div>
        <div>
            <input id="release_date" value="<%= movie.release_date %>" type="text">
        </div>
        <div>
            <input id="genre" value="<%= movie.genres?.name %>" type="text">
        </div>
        <div>
            <input id="actor" value="<%= movie.actor?.first_name %>" type="text">
        </div>
        <div>
            <input type="submit" value="Editar">
        </div>
        <div>
            <button><a href="/peliculasD/<%= movie.id %>">Volver</a></button>
        </div>
    </form>
</body>

</html>